.DS_Store
.next/
out/
.env.local
*.mp4
node_modules/
Nouveau dossier contenant des éléments/
inspiration/
screenshots-generator/
imagesapp/*.PNG
optimisationdusite.md
summer-seo-blog/
.vercel
.env*.local
